<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
</head>
<body>
  <section class="main-header">
    <img src="<%= asset_path "top.jpg" %>">
  </section>

  <section class="about">
    <h1>About fbapp</h1>
    <p>
       fbappは、Facebookに似せたアプリです。<br>
    </p>
  </section>
</body>
</html>
